<div class="jumbotron">
  <h1 class="display-4">404 Not Found</h1>
  <p class="lead">Halaman tidak ditemukan</p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" href="/" role="button">Kembali</a>
</div>
