<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 style="font-weight: bolder;"><i class="fas fa-key"></i>TouchMe v.0.1.2</h1> <br>
      <p style="font-style: italic;">Simple Login Authentication with <b>Passport.js</b> </p>
      <p style="font-weight: bold;">Buat Akun atau Masuk</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Buat Akun Baru</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Masuk</a>
    </div>
  </div>
</div>